html, body{
	font-family: 'Lato', sans-serif;
	height: 100%;
}
body{
	background-color: #A3CEBA;
	box-sizing: border-box;
	margin: 0;
}
.btn{
	background-color: #2E3951;
	border: none;
	border-radius: 20%;
	color: #96A8A0;
	cursor: pointer;
	font-size: 22px;
	height: 30px;
	outline: 0;
	width: 30px;
}
.btn:active{
	background-color: #313E5A;
}
.btn-clear{
	cursor: default;
}
.btn-equal{
	background-color: #37B387;
	color: #212B41;
}
.btn-equal:active{
	background-color: #41CA99;
}
/*.btn:hover {
	background-color: #ffffff60;
}*/
.btn-op{
	background-color: #212B41;
	color: #37B3B7;
}
.btn-op:active{
	background-color: #27324C;
}
.calc{
	background-color: #2E3951;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 300px;
}
.container{
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
}
.row{
	display: flex;
	justify-content: space-around;
	padding: 10px;
}
.screen-result{
	background-color: #212B41;
	color: #37B3B7;
	font-size: 70px;
	padding: 40px 15px 15px;
	text-align: right;
}